.hero {
  height: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-image: url('../images/hero.jpg'); */
  background: linear-gradient(90deg, #000000, #000000da 60%, #601f24);
  /* filter: brightness(0.5); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

.ProfileHeader {
  position: relative;
  left: 124px;
  top: -18px;
  text-align: center;
  border-radius: 10px;
  width: 55px;
  padding: 5px 10px 5px 10px;
  background: -webkit-linear-gradient(0deg, #601f24 0%, #206d9d 100%);
  background: -moz-linear-gradient(0deg, #160b5f 0%, #206d9d 100%);
  background: -o-linear-gradient(0deg, #160b5f 0%, #206d9d 100%);
  background: -ms-linear-gradient(0deg, #601f24 0%, #206d9d 100%);
  background: linear-gradient(90deg, #601f24 0%, #206d9d 100%);
  z-index: 2;
}


.ProfileHeader span {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

