.hero {
  height: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-image: url('../images/hero.jpg'); */
  background: linear-gradient(90deg, #000000, #000000da 60%, #601f24);
  /* filter: brightness(0.5); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}